.mainContainer {
  min-height: 30vh;
  display: flex;
  @media (max-width: 700px) {
    flex-direction: column;
  }
  .containerLeft {
    background-color: #f8f8f8;
    min-height: 30vh;
    // min-width: 50vw;
    flex: 1;
    h2 {
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 2.22px;
      margin: 10vh 10vw;
      // margin-top: 10vh;
      margin-bottom: 4vh;
      @media (max-width: 1100px) {
        font-size: 32px;
      }
    }
    ul {
      margin: 20vh 10vw;
      // margin-right: 10vw;
      margin-top: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      // margin-right: 2vw;
      @media (max-width: 700px) {
        margin: 10vh 10vw;
        margin-top: 0;
      }
      li {
        background-color: rgba(0, 0, 0, 0.12);
        // height: 44px;
        padding: 0.6em;
        border-radius: 64px;
        margin-right: 20px;
        margin-bottom: 20px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
      }
    }
  }
  .containerRight {
    background-color: rgba(0, 0, 0, 0.92);
    min-height: 30vh;
    // min-width: 50vw;
    flex: 1;
    h2 {
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 2.22px;
      margin: 0 10vw;
      margin-bottom: 4vh;
      margin-top: 10vh;
      color: rgba(255, 255, 255, 0.84);
      @media (max-width: 1100px) {
        font-size: 32px;
      }
      @media (max-width: 1240px) {
        margin-left: 2vw;
        margin-right: 0;
      }
      @media (max-width: 700px) {
        margin: 10vh 10vw;
        // margin-top: 10vh;
        margin-bottom: 4vh;
      }
    }
    ul {
      margin: 20vh 10vw;
      // margin-right: 15vw;
      margin-top: 0;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li {
        background-color: rgba(255, 255, 255, 0.84);
        // height: 44px;
        padding: 0.6em;
        border-radius: 64px;
        margin-right: 20px;
        margin-bottom: 20px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
      }

      @media (max-width: 1240px) {
        margin-left: 2vw;
        margin-right: 15vw;
      }
      @media (max-width: 700px) {
        margin: 10vh 10vw;
        margin-top: 0;
      }
    }
  }
}
