.footer {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    margin-left: 10vw;
  }
  .right {
    margin-right: 10vw;
    p {
      color: white;
      font-weight: 700;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
  @media (max-width: 600px) {
    justify-content: center;
  }
}
